# ================================
# Python
# ================================
__pycache__/
*.py[cod]
.venv/
venv/
env/
ENV/

# ================================
# Environment / Secrets
# ================================
.env
.env.*
!.env.example

*.pem
*.key

credentials.json
secrets.json

# ================================
# Datasets / Data
# ================================
data/
!data/reference/
dataset/
datasets/


*.csv
*.xlsx
*.xls
*.parquet
*.feather

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Testing / Cache
# ================================
.pytest_cache/
.coverage
htmlcov/

# ================================
# Node / React
# ================================
node_modules/
npm-debug.log*
dist/
build/
.vite/

# ================================
# IDE
# ================================
.vscode/
.idea/

# ================================
# OS
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs / Temporary
# ================================
*.log
*.tmp
*.temp

# ================================
# ML Model Artifacts
# ================================
*.pkl
*.pickle
*.joblib
*.h5
*.pt
*.pth

# ================================
# Local Git
# ================================
.git/

# Model archives
*.zip